/* Reset everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Edit elements */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(62, 202, 218);
  color: black;
}

ul {
  list-style: none;
}

a {
  color: cadetblue;
  text-decoration: none;
}


img {
  width: 100%;
}

h1 {
  line-height: 1.1rem;
}

p {
  margin: 0.6rem 0;
}

label {
  display: block;
  width: 100%;
  text-align: left;
}
/* Edit main */

.main {
  position: relative;
  height: 100vh;
}

/* Edit navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: aquamarine;
  width: 100%;
  height: 70px;
  position: fixed;
  margin-top: 0rem;
  padding: 0 2rem; 
}

.navbar a {
  color:blueviolet;
  padding: 0.6rem 1.2rem;
  margin: 0 0.3rem;
}

.navbar a:hover {
  background-color: darkgoldenrod;
  color: black;
}

.navbar ul {
  display: flex;
}

/* Edit form */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  /* padding: 0 1.2rem; */
}

.card .row {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card .column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  background: aquamarine;
  padding: 0rem;
  min-width: 300px; max-width: 300px;
  min-height: 400px; max-height: 400px;
}

.card h2 {
  padding-bottom: 1.2rem;
  color:rgb(5, 113, 124);
}

.card .form-card {
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.card .login-form input {
  width: 100%;
  background-color: white;
}

.card .login-form .btn {
  display: block;
  background: rgb(0, 255, 170);
  color: aliceblue;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 2rem;
  padding: 0.8rem 1rem ;
}

.card .login-form .btn:hover {
  color: pink;
  background: grey;
}
